/* globals.css */
body {
  font-family: 'Outfit', sans-serif;
  padding-right: 0px !important;
  /* padding: 0 0; */
}
html {
  font-size: 14px; /* Si tu diseño está basado en 14px en lugar de 16px */
  /* padding: 0 0; */
}
